.Input {
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;

  & label {
    font-weight: bold;
    width: 100%;
  }

  & input {
    padding: 5px;
    font-size: 1.2rem;
    width: 100%;
  }
}

.Checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;

  & label {
    margin-left: 0.25rem;
  }
}

/** Created by carlos on 10/01/2023 */